Binaries
DerivedDataCache
Intermediate
Saved
Build
Content
Plugins
**/BlackAlder
**/Landscape
**/MedievalDungeon
**/Megascans
**/StarterContent
**/Assets


.vs
.vscode
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
